[package]
name = "terraswap"
version = "2.4.1"
authors = ["Terraform Labs, PTE."]
edition = "2018"
description = "Common terraswap types"
license = "Apache-2.0"
repository = "https://github.com/terraswap/terraswap"
homepage = "https://terraswap.io"
documentation = "https://docs.terraswap.io"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cw20 = { version = "0.8.0" } 
cosmwasm-storage = { version = "0.16.0" }
terra-cosmwasm = { version = "2.2.0" }
cosmwasm-std = { version = "0.16.0" }
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }

[dev-dependencies]
cosmwasm-schema = "0.16.0"

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
